---
---

@import "{{ site.theme }}";

body {
  background-color: #F4E7E1;
}

.button-link {
  display: inline-block;
  padding: 0.6em 1.2em;
  background-color: #521C0D;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #D5451B;
}
