---
---

@import "{{ site.theme }}";

.button-link {
  display: inline-block;
  padding: 0.6em 1.2em;
  background-color: #EDE8D0;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #EDE8D0;
}
